.containerrr {
    width: 90%;
    padding: 0 10px;
    height: 90vh;
    border-radius: 10px;
    margin-top: 40px;
    
  }
  
  .content {
    margin-top: 10px;
  }
  
  /* Define additional styles as needed */
  