.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .glassContainer {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .title {
    text-align: center;
    color: #fff;
  }
  
  .inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .errorContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .errorMessageText {
    color: red;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #CD853F;
    color: #fff;
    cursor: pointer;
  }
  
  .buttonContainer {
    margin-top: 10px;
  }
  
  .buttonContainer button {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  