/* Register.css */

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set height to viewport height */
  }
  
  .register-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 400px; /* Limit width */
  }
  
  .register-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .register-form input[type="text"],
  .register-form input[type="email"],
  .register-form input[type="password"],
  .register-form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-form button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #0056b3;
  }
  
  .register-form p {
    margin-top: 10px;
    text-align: center;
  }
  
  .register-form p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .register-form p a:hover {
    text-decoration: underline;
  }
  