.containe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #ffffff, #8B4513); /* wooden color */
  }
  
  .heading {
    font-size: 2rem;
    color: #ffffff; /* white color */
    margin-bottom: 20px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1rem;
    border-radius: 5px;
    background: #8B4513; /* wooden color */
    color: #ffffff; /* white color */
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .link {
    text-decoration: none;
  }
  